wf05_updated.json
{
  "updatedAt": "2026-02-26T19:02:04.577Z",
  "createdAt": "2026-02-26T19:02:04.577Z",
  "id": "Ds3iGnCsLUtGQEi3",
  "name": "LifeOrganizer — 05 Stripe Billing Events",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "note-s5",
      "name": "📋 Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "parameters": {
        "content": "## 💳 05 — Stripe Billing Events\n**Trigger:** Webhook Stripe\n\n**Eventos:** nova sub · renovação · falha pagamento · cancelando · cancelado\n\n**Roteamento:** Switch 4 saídas → Claude Haiku personalizado por evento\n\n**Modelo:** claude-haiku-4-5-20251001 (mensagens curtas, alta frequência)",
        "height": 145,
        "width": 900
      }
    },
    {
      "id": "wh-s5",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lifeorganizer-stripe",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "resp-s5",
      "name": "Responder Stripe 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }"
      }
    },
    {
      "id": "code-parse-s5",
      "name": "Parsear Evento Stripe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst eventType = body.type;\nconst obj = body.data?.object;\nconst customerId = obj?.customer;\nconst status = obj?.status;\nconst cancelAtPeriodEnd = obj?.cancel_at_period_end;\nconst periodEnd = obj?.current_period_end;\n\nlet cat;\nif (eventType === 'customer.subscription.created') cat = 'new_subscription';\nelse if (eventType === 'customer.subscription.updated') {\n  if (status === 'active' && cancelAtPeriodEnd) cat = 'canceling';\n  else if (status === 'active') cat = 'renewed';\n  else if (status === 'past_due') cat = 'payment_failed';\n  else if (status === 'canceled') cat = 'canceled';\n  else cat = 'other';\n} else if (eventType === 'customer.subscription.deleted') cat = 'canceled';\nelse if (eventType === 'invoice.payment_failed') cat = 'payment_failed';\nelse cat = 'other';\n\nconst daysLeft = periodEnd ? Math.ceil((periodEnd * 1000 - Date.now()) / 86400000) : null;\nreturn { json: { eventType, eventCategory: cat, customerId, status, cancelAtPeriodEnd, daysUntilExpiry: daysLeft } };"
      }
    },
    {
      "id": "query-s5",
      "name": "Buscar Usuária by Customer ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?stripe_customer_id=eq.{{ $json.customerId }}&select=id,email,full_name,phone_number,plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-s5",
      "name": "Mesclar Usuária + Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const users = $input.item.json;\nconst evt = $node['Parsear Evento Stripe'].json;\nif (!users?.length) throw new Error('Usuária não encontrada para: ' + evt.customerId);\nconst u = users[0];\nreturn { json: { user_id: u.id, user_email: u.email, user_phone: u.phone_number, user_name: u.full_name, current_plan: u.plan, ...evt }};"
      }
    },
    {
      "id": "switch-s5",
      "name": "Rotear por Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventCategory }}",
                    "rightValue": "new_subscription",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "nova_sub"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventCategory }}",
                    "rightValue": "payment_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "falha_pag"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventCategory }}",
                    "rightValue": "canceling",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cancelando"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventCategory }}",
                    "rightValue": "canceled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cancelado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "claude-nova-s5",
      "name": "OpenAI — Nova Assinatura",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        100
      ],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT_4O_MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Especialista em comunicação pós-venda SaaS. Reforça decisão de compra. JSON válido sempre."
            },
            {
              "role": "user",
              "content": "={{ 'Mensagem NOVA ASSINATURA Pro para ' + $json.user_name + '. Celebre genuinamente. Mencione: IA adaptativa, insights ilimitados, alertas de fase. Tom sofisticado. Max 50 palavras WhatsApp. SAIDA JSON: {\"whatsapp_message\": \"...\"}' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 400
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "ZkkWmphHZJ5zpOXp",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "claude-falha-s5",
      "name": "OpenAI — Falha Pagamento",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        240
      ],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT_4O_MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Especialista em churn prevention ético. NUNCA usa linguagem de cobrança. Foca em valor e facilidade de resolução. JSON válido sempre."
            },
            {
              "role": "user",
              "content": "={{ 'Mensagem FALHA PAGAMENTO empática para ' + $json.user_name + '. NUNCA diga cobrança. Diga ajuda atualizar método pagamento. Tom prestativo. Max 45 palavras. SAIDA JSON: {\"whatsapp_message\": \"...\"}' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 400
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "ZkkWmphHZJ5zpOXp",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "claude-cancel-s5",
      "name": "OpenAI — Retenção Cancelando",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        380
      ],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT_4O_MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Especialista em retenção ética. Respeita decisão do cliente. JSON válido sempre."
            },
            {
              "role": "user",
              "content": "={{ 'Mensagem RETENÇÃO para ' + $json.user_name + ' cancelando em ' + $json.daysUntilExpiry + ' dias. Respeite a decisão. Ofereça pausa como alternativa. SAIDA JSON: {\"whatsapp_message\": \"...\", \"retention_offer\": \"1 mês grátis para retornar\"}' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 400
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "ZkkWmphHZJ5zpOXp",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "claude-bye-s5",
      "name": "OpenAI — Despedida Graciosa",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT_4O_MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Especialista em offboarding gracioso. Transforma saída em oportunidade futura. JSON válido sempre."
            },
            {
              "role": "user",
              "content": "={{ 'Despedida GRACIOSA para ' + $json.user_name + '. Tom grato. Dados salvos 90 dias. Plano Free disponível. Código retorno VOLTEI30. Max 35 palavras. SAIDA JSON: {\"whatsapp_message\": \"...\", \"discount_code\": \"VOLTEI30\"}' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 300
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "ZkkWmphHZJ5zpOXp",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Parsear Evento Stripe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder Stripe 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Evento Stripe": {
      "main": [
        [
          {
            "node": "Buscar Usuária by Customer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuária by Customer ID": {
      "main": [
        [
          {
            "node": "Mesclar Usuária + Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Usuária + Evento": {
      "main": [
        [
          {
            "node": "Rotear por Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear por Evento": {
      "main": [
        [
          {
            "node": "OpenAI — Nova Assinatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI — Falha Pagamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI — Retenção Cancelando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI — Despedida Graciosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Nova Assinatura": {
      "main": [
        []
      ]
    },
    "OpenAI — Falha Pagamento": {
      "main": [
        []
      ]
    },
    "OpenAI — Retenção Cancelando": {
      "main": [
        []
      ]
    },
    "OpenAI — Despedida Graciosa": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "312c4f16-8ddd-4421-811c-f3651fb74b9e",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T19:02:04.580Z",
      "createdAt": "2026-02-26T19:02:04.580Z",
      "role": "workflow:owner",
      "workflowId": "Ds3iGnCsLUtGQEi3",
      "projectId": "ZRwIjvHgccCCaLzC",
      "project": {
        "updatedAt": "2026-02-23T18:28:02.128Z",
        "createdAt": "2026-02-23T18:26:39.653Z",
        "id": "ZRwIjvHgccCCaLzC",
        "name": "alline izabel rosa <allineizabeldarosa@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e180afa2-c34c-498f-89b4-95220def0688"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}